@model CQUT.JJ.MusicPlayer.MS.Areas.Admin.Models.Menu.MigrateMenuItemViewModel

<div class="modal fade" id="my-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">迁移菜单</h4>
            </div>
        <form asp-action="MigrateMenuItem" asp-controller="Menu" asp-area="Admin" data-ajax="true" data-ajax-method="post" data-ajax-success="migrateMenuItemed">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ParentId)

            @if (Model.ParentId > 0)
            {
                <div class="modal-body">
                    <h4>您确定要将<span class="title-highlight">@Model.Header</span>栏目迁移到<span class="title-highlight">@Model.ParentHeader</span>栏目吗？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">取消</button>
                    <button type="submit" class="btn btn-danger" id="submit">确定</button>
                </div>
            }
            else if(Model.ParentId == 0)
            {
                <div class="modal-body">
                    <h4>您确定要将<span class="title-highlight">@Model.Header</span>菜单项迁移成根项吗？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">取消</button>
                    <button type="submit" class="btn btn-danger" id="submit">确定</button>
                </div>
            }
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $("#my-modal").modal('show');
</script>


