@model CQUT.JJ.MusicPlayer.MS.Areas.Admin.Models.Role.UpdateRoleViewModel
<div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">修改角色基本信息</h4>
            </div>
            <form asp-action="Update" asp-controller="Role" asp-area="Admin" data-ajax="true" data-ajax-method="post" data-ajax-success="afterUpdateRole">
                @Html.HiddenFor(m => m.Id)
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group" style="margin-top:10px">
                            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                            <div class="col-md-6">
                                <input id="roleName" name="Name" class="form-control" value="@Model.Name" />
                                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "validate-error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2"></label>
                            <div class="col-md-6">
                                @Html.CheckBoxFor(m => m.IsDefault)<span>设置为默认角色</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#my-modal').modal('show');
</script>
